@model dynamic

@{
    ViewBag.Title = "Rental Form";

}
<style type="text/css">.tt-container { }</style>

<h2>Rental Form</h2>

<form>
    <div>
        <label>
            Customer

        </label>
        <div class="tt-container">
            <input id="customer" type="text" value="" class="form-control" />
            </div>
    </div>
    <div style="height: 30px"></div>
    <div>
        <label>
            Movie
        </label> 
        <div class="tt-container">
            <input id="movie" type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>

    </div>

  
    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
    <script>
        $(document).ready(function () {
            var vm = {
                movieIds : []
        };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,

                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLenth: 3,
                highlight: true
            },
                {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select",
                function (e, customer) {
                    vm.customerId = customer.id;
                });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,

                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLenth: 3,
                highlight: true
            },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select",
                function (e, movie) {
                    $("#movies").append('<li class = "list-group-item">' + movie.name + '</li>');

                    $("#movie").typeahead("val","");

                    vm.movieIds.push(movie.name);
                });
        });



    </script>
}
